body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.display-table {
    display: table;
    padding: 0;
    width: 100%;
    height: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
    background-color: #F9F9F9;
}

.row {
    margin: 0px !important;
}

.login-col-l {
    width: 80%;
    background: rgba(19, 153, 221, 0.37);
}

    .login-col-l::after {
        content: "";
        background: url(../img/nature-59.jpg);
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.login-col-r {
    width: 20%;
    background: -webkit-linear-gradient(rgba(252, 250, 250,1),rgba(252, 250, 250,0.8), rgb(255, 255, 255));
    background: white;
}

    .login-col-r > .login-form {
       padding: 10px; 
       margin-top: 70%;
    }

    .registro
    {
        width: 100%; 
        background: rgba(219, 0, 0, 0.37);
    }

        .registro::after {
            content: "";
            background: url(../img/nature-59.jpg);
            background-size: cover;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

.nutre-side-bar {
    width: 15%;
    float: left;
    height: 100% ;
    border-right : solid 0.5px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nutre-main
{
    width: 85%;
    float: left;
    height: 100%;
            -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.top-bar
{
    height: 60px;
    width: 100%;
    background-color: #53bf6b;
}
.top-bar .optios-left
{
    float: left;
}
.top-bar > span 
{
    color:  white;
}

.top-bar > ul.menus > li {
    cursor: pointer; 
    color:#009688 !important;
    margin-right: 10px; 
}

.top-bar > ul.menus > li > span
{
    cursor: pointer;
}
.profile-container {
    width: 100%;
    background: url(http://img05.deviantart.net/68e7/i/2015/085/6/2/material_design__teal__by_sgrint-d8n7ifd.png);
    background-size: cover; 
            -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
    .profile-container > .profile-img {
        width: 100%;
        padding-top: 10px;
    }
   .nutre-side-bar .profile-container > .profile-img > img {
        border-radius: 50%; 
        border: 5px solid rgba(237, 237, 237, 0.6) !important;
        height: 100px;
        width: 100px;
                -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    }
    .profile-container > .profile-info{
        padding: 5px;
    }
    
    .profile-container > .profile-info > span.fa 
    {
        margin-right: 5px;
        cursor:pointer;
    }
.nutre-side-bar-sm > .profile-container > .profile-img > img {
        border-radius: 50%; 
        border: 5px solid rgba(237, 237, 237, 0.6) !important;
        max-width: 60px;
        max-height: 60px;
    }
.profile-info {
    height: 30px;
    
}

header {
    height: 60px;
    max-height: 60px;
    width: 100%;
    display: block;
    border-bottom: 1px #c3c3c3 solid;
}

.nutre-side-bar-sm
{
    width: 7%;
    float: left;
    height: 100% ;
    border-right : solid 0.5px rgba(0,0,0,0.2);
        -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#toggle-bars {
    margin-left: 15px; 
    color: #009688 !important;
    font-weight: 100;
    cursor: pointer;
}

input.form-control
{
    margin-top: 15px;
}

.top-bar > span.brand
{   
    margin: 15px;
}



/*Dropdown Menus */ 
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropmenu-content {
    display: none;
    border: 1px solid #009688;
    z-index: 99999;
    position: absolute;
    color: white !important; 
    background-color: #009688;/*#f9f9f9*/;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropmenu-content li {
    color: white !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0 !important;
    border: none !important;
}

.dropmenu-content li a 
{
    color: white !important;
}

/* Change color of dropdown links on hover */
.dropmenu-content li:hover {background-color: #00695C;}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* Cards Personalizadas */

    .src-image {
  display: none;
}
h1{margin-bottom:35px;}
.card-p {
  margin-top : 1em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  border-radius: 0px;
  text-align: center;
  padding: 0;
  background-color: white;
}
.card-p .content{ margin-top:15px; padding: 5px;}
.content p{ color: black; width: 100%;}
.content h5{ color: black;}
.card-p .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #009688  solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card-p .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card-p .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
    border: 5px solid rgba(237, 237, 237, 0.6);
}

.collapsible-body > ul > li 
{
    margin-left: 30px; 
    padding: 1em; 
    margin-bottom: 5px;
    border-left: 1px dotted black;
}