<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/nutre/patient/new" method="post">
        <input type="text" name="firstName" placeholder="Nombre">
        <input type="text" name="lastName" placeholder="Apellidos">
        <input type="text" name="imageUrl" placeholder="Foto">
        <textarea type="text" name="reasonConsultation" placeholder="Rason de Consulta">  </textarea>
        <button type="submit">Enviar...Suerte</button>    
    </form>
</body>
</html>